*
!*/
!Resources/Images/*.ico
!/.gitignore
!/LICENSE
!/README.md
!/requirements.txt
!/FileReplacer.py
!/GameManager.py
!/SaveChanger.py
!/SendToCitra.py
!/SendViaFTP.py
!/WorkspaceManager.py
!/TranslationPatcher.py
!/TranslationToolkit.py
!/TranslationToolkit.spec
